.dialog {
    width: 30vw;
    padding: 2rem;
    background-color: #eee;
    margin: 8rem auto;
    font-size: 1.2rem;
    text-align: center;
}

div.key {
    color: var(--green);
    font-weight: bold;
    font-size: 4rem;
    font-family: monospace;
    margin: 1rem;
}